
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hossam Hamdy</title>

    <link rel="stylesheet" href='./assets/bootstrap/bootstrap.min.css'>
    <link rel="stylesheet" href='./assets/fontawesome/all.min.css'>

    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.6;
        }

        .skill-badge {
            transition: transform .2s ease;
        }

        .skill-badge:hover {
            transform: translateY(-3px);
        }
    </style>

<body class="bg-light">
    <nav class="navbar navbar-expand-sm navbar-light bg-white shadow-sm sticky-top" data-bs-theme="light">
        <div class="container">
            <a class="navbar-brand fw-bold" href="#">Hossam Hamdy</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- <ul class="nav justify-content-center w-100"> -->
                <ul class="navbar-nav ms-auto text-center">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#intro">Intro</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#experience">Experience</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#projects">Projects</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#education">Education</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <div class="container py-3">
        <div id="intro" class="text-center">
            <div class="row my-3 align-items-center justify-content-center">
                <div class="col-sm-6">
                    <img src="./assets/pic.png" class="img-fluid object-fit-cover border border-2 border-secondary rounded-circle" alt="Profile Picture" style="height: 200px;">
                </div>
                <div class="col-sm-6 mt-3">I&#x27;m a versatile developer combining a solid background in accounting with strong programming skills my proficiency in Python, Django, and Odoo, along with experience in developing RESTful APIs and managing databases allows me to seamlessly bridge the gap between financial needs and software solutions 
                </div>
            </div>
            <div class="row my-3">
                <div class="col">
                    <a class="btn btn-sm btn-primary rounded p-2" href="#contact"><i class="fa-solid fa-paper-plane fa-xl me-2" style="color: #ffffff;"></i>Contact Me</a>
                </div>
            </div>
        </div>

        <div style="border: 1px solid black;"></div>

        <div id="experience" class="text-center">
            
            <h3 class="my-3 fw-bold">Work Experience ( Technical )</h3>
            
            <div class="my-3 card">
                <div class="card-header">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6 my-1">
                            <h4>Full Stack Developer</h4>
                        </div>
                        <div class="col-md-6 my-1"><time class="fst-italic text-secondary">11/2023 - Present</time></div>
                        <div class="col-10 col-md-8 rounded-pill bg-secondary-subtle fw-bold my-1">PoultrySync</div>
                    </div>
                </div>
                <div class="text-start card-body">
                    <div class="mt-1"><span class="text-secondary">Responsible for :</span></div>
                    <ul>
                        
                        <li>Optimization, troubleshooting and debugging of system to ensure stability and scalability.</li>
                        
                        <li>Designed and implemented custom features aligned with client needs, improving overall user experience.</li>
                        
                        <li>Focused on high-level planning and best practices to improve development team efficiently.</li>
                        
                        <li>Architected and developed RESTful APIs using Django REST Framework to support seamless integrations.</li>
                        
                    </ul>
                </div>
                <div class="card-footer text-body-secondary">
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Develop structured plans to streamline workflow and decision-making." data-bs-placement="bottom">Planning</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Handle tasks effectively to balance productivity and efficiency." data-bs-placement="bottom">Workload</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Deliver work on time while maintaining quality standards." data-bs-placement="bottom">Deadlines</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Maintain legacy code to keep old systems running efficiently." data-bs-placement="bottom">Legacy Code</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Improve and restructure code without disrupting business workflows." data-bs-placement="bottom">Refactor</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Collaborate effectively with colleagues to achieve common goals." data-bs-placement="bottom">Teamwork</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Adapt to both remote and in-office work environments seamlessly." data-bs-placement="bottom">Hybrid</span>
                    
                </div>

            </div>
            
            <div class="my-3 card">
                <div class="card-header">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6 my-1">
                            <h4>Backend Developer</h4>
                        </div>
                        <div class="col-md-6 my-1"><time class="fst-italic text-secondary">10/2022 - 04/2023</time></div>
                        <div class="col-10 col-md-8 rounded-pill bg-secondary-subtle fw-bold my-1">Mighty Groups</div>
                    </div>
                </div>
                <div class="text-start card-body">
                    <div class="mt-1"><span class="text-secondary">Responsible for :</span></div>
                    <ul>
                        
                        <li>Developed RESTful APIs using Django REST Framework.</li>
                        
                        <li>Troubleshot, debugged, and enhanced existing systems.</li>
                        
                        <li>Implemented custom features to meet project requirements.</li>
                        
                        <li>Collaborated with team members to deploy projects successfully.</li>
                        
                        <li>Designed ERDs and database schemas in coordination with the business team.</li>
                        
                    </ul>
                </div>
                <div class="card-footer text-body-secondary">
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Maintain legacy code to keep old systems running efficiently." data-bs-placement="bottom">Legacy Code</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Improve and restructure code without disrupting business workflows." data-bs-placement="bottom">Refactor</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Handle tasks effectively to balance productivity and efficiency." data-bs-placement="bottom">Workload</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Deliver work on time while maintaining quality standards." data-bs-placement="bottom">Deadlines</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Collaborate effectively with colleagues to achieve common goals." data-bs-placement="bottom">Teamwork</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Adapt to both remote and in-office work environments seamlessly." data-bs-placement="bottom">Hybrid</span>
                    
                </div>

            </div>
            
            
            <div style="border: 1px solid black;"></div>
            
            
            <h3 class="my-3 fw-bold">Work Experience ( Non Technical )</h3>
            
            <div class="my-3 card">
                <div class="card-header">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6 my-1">
                            <h4>Expenses Accountant Specialist</h4>
                        </div>
                        <div class="col-md-6 my-1"><time class="fst-italic text-secondary">12/2019 - 03/2022</time></div>
                        <div class="col-10 col-md-8 rounded-pill bg-secondary-subtle fw-bold my-1">German Lebanese For Industry (GLC)</div>
                    </div>
                </div>
                <div class="text-start card-body">
                    <div class="mt-1"><span class="text-secondary">Responsible for :</span></div>
                    <ul>
                        
                        <li>Reviewing general ledger journal entries to the ERP system.</li>
                        
                        <li>Prepare and submit weekly/monthly reports.</li>
                        
                    </ul>
                </div>
                <div class="card-footer text-body-secondary">
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Enhance processes to improve performance and reduce inefficiencies." data-bs-placement="bottom">Workflow Optimizer</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Handle tasks effectively to balance productivity and efficiency." data-bs-placement="bottom">Workload</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Deliver work on time while maintaining quality standards." data-bs-placement="bottom">Deadlines</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Collaborate effectively with colleagues to achieve common goals." data-bs-placement="bottom">Teamwork</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Effectively work and collaborate in an in-office or on-site setting." data-bs-placement="bottom">Office</span>
                    
                </div>

            </div>
            
            <div class="my-3 card">
                <div class="card-header">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6 my-1">
                            <h4>Junior Accountant</h4>
                        </div>
                        <div class="col-md-6 my-1"><time class="fst-italic text-secondary">10/2018 - 10/2019</time></div>
                        <div class="col-10 col-md-8 rounded-pill bg-secondary-subtle fw-bold my-1">KAM Egypt</div>
                    </div>
                </div>
                <div class="text-start card-body">
                    <div class="mt-1"><span class="text-secondary">Responsible for :</span></div>
                    <ul>
                        
                        <li>Manage all accounting transactions and enter general ledger journal entries to the ERP odoo system.</li>
                        
                    </ul>
                </div>
                <div class="card-footer text-body-secondary">
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Manage and execute key changes without disrupting operations." data-bs-placement="bottom">Critical Transitions</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Handle tasks effectively to balance productivity and efficiency." data-bs-placement="bottom">Workload</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Maintain structured and efficient task management." data-bs-placement="bottom">Task Organization</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Prioritize and allocate time effectively to meet objectives." data-bs-placement="bottom">Time Management</span>
                    
                    <span class="badge text-bg-success skill-badge" data-bs-toggle="tooltip" data-bs-title="Effectively work and collaborate in an in-office or on-site setting." data-bs-placement="bottom">Office</span>
                    
                </div>

            </div>
            
            
            
            
        </div>

        <div style="border: 1px solid black;"></div>

        <div id="skills" class="text-center">

            
            <h3 class="my-3 fw-bold">Tech Skills</h3>
            <div class="my-3">
                <div class="row align-items-center justify-content-center gap-3">
                    
                    <div class="col">
                        <a href="https://www.python.org/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/python.svg" alt="Python">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://www.djangoproject.com/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/django.svg" alt="Django">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://www.django-rest-framework.org/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/djangorest.png" alt="Django Rest Framework">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://htmx.org/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/htmx.png" alt="HTMX">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://www.javascript.com/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/js.png" alt="JavaScript">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://react.dev/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/react.svg" alt="React">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://html.spec.whatwg.org/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/html.png" alt="HTML">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://www.w3.org/Style/CSS/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/css.png" alt="CSS">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://getbootstrap.com/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/bootstrap.png" alt="Bootstrap">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://www.mysql.com/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/mysql.png" alt="MySQL">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://www.postgresql.org/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/postgresq.svg" alt="PostgreSQL">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://www.gnu.org/software/bash/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/bash.svg" alt="BASH">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://www.odoo.com/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/odoo.png" alt="Odoo">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://www.docker.com/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/docker.png" alt="Docker">
                        </a>
                    </div>
                    
                    <div class="col">
                        <a href="https://git-scm.com/" target="_blank" class="link-underline-opacity-0 link-success">
                            <img style="height:35px" src="./assets/icons/git.png" alt="Git">
                        </a>
                    </div>
                    
                </div>
            </div>
            

            <div style="border: 1px solid black;"></div>

            
            <h3 class="my-3 fw-bold">Skills</h3>
            <div class="my-3">
                
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Maintain legacy code to keep old systems running efficiently.">Legacy Code</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Improve and restructure code without disrupting business workflows.">Refactor</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Handle tasks effectively to balance productivity and efficiency.">Workload</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Deliver work on time while maintaining quality standards.">Deadlines</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Collaborate effectively with colleagues to achieve common goals.">Teamwork</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Adapt to both remote and in-office work environments seamlessly.">Hybrid</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Develop structured plans to streamline workflow and decision-making.">Planning</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Effectively work and collaborate in an in-office or on-site setting.">Office</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Enhance processes to improve performance and reduce inefficiencies.">Workflow Optimizer</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Manage and execute key changes without disrupting operations.">Critical Transitions</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Prioritize and allocate time effectively to meet objectives.">Time Management</span>
                
                <span class="badge text-bg-primary skill-badge m-1 p-2 fw-medium" data-bs-toggle="tooltip" data-bs-title="Maintain structured and efficient task management.">Task Organization</span>
                
                
                
                
            </div>
            
        </div>




        <div style="border: 1px solid black;"></div>

        <div id="projects" class="text-start">
            
            <h3 class="my-3 fw-bold">Projects</h3>
            <div class="row">
                
                <div class="col-12">
                    <div class="card shadow-sm mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Orders Manager</h5>

                            <div class="mb-3">
                                
                                <span class="badge bg-info">Django</span>
                                
                                <span class="badge bg-info">HTMX</span>
                                
                            </div>
                            <p class="card-text">
                                If you&#x27;re still collecting food orders manually, it&#x27;s time to try Orders Manager!
                            </p>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="row row-cols-auto justify-content-around">
                                <a href="https://github.com/hosamhamdy258/orders-manager" class="btn btn-outline-dark btn-sm" target="_blank"><i class="fa-brands fa-github me-2"></i>Code</a>
                                <a href="https://hosamhamdy.koyeb.app/" class="btn btn-success btn-sm" target="_blank"><i class="fa-solid fa-up-right-from-square me-2"></i>Live</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="card shadow-sm mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Darajaty</h5>

                            <div class="mb-3">
                                
                                <span class="badge bg-info">Django</span>
                                
                                <span class="badge bg-info">React</span>
                                
                            </div>
                            <p class="card-text">
                                Tired of boring quizzes? With Darajaty, every question you answer, add, or review comes with rewards! Make learning engaging and fun.
                            </p>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="row row-cols-auto justify-content-around">
                                <a href="https://github.com/hosamhamdy258/darajaty" class="btn btn-outline-dark btn-sm" target="_blank"><i class="fa-brands fa-github me-2"></i>Code</a>
                                <a href="https://darajaty.pythonanywhere.com/" class="btn btn-success btn-sm" target="_blank"><i class="fa-solid fa-up-right-from-square me-2"></i>Live</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-12">
                    <div class="card shadow-sm mb-3">
                        <div class="card-body">
                            <h5 class="card-title">Shortener</h5>

                            <div class="mb-3">
                                
                                <span class="badge bg-info">Django</span>
                                
                            </div>
                            <p class="card-text">
                                Simple Url Shortener to cut long urls
                            </p>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="row row-cols-auto justify-content-around">
                                <a href="https://github.com/hosamhamdy258/shortener" class="btn btn-outline-dark btn-sm" target="_blank"><i class="fa-brands fa-github me-2"></i>Code</a>
                                <a href="https://hhshortener.pythonanywhere.com" class="btn btn-success btn-sm" target="_blank"><i class="fa-solid fa-up-right-from-square me-2"></i>Live</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            

        </div>


        <div style="border: 1px solid black;"></div>

        <div id="education" class="text-center">
            
            <h3 class="my-3 fw-bold">Education</h3>
            
            <div class="my-3 card">
                <div class="card-header">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6 my-1">
                            <h4>Full Stack using Python</h4>
                        </div>
                        <div class="col-md-6 my-1"><time class="fst-italic text-secondary">3/2022 - 9/2022</time></div>
                        <div class="col-10 col-md-8 rounded-pill bg-secondary-subtle fw-bold my-1">ITI ( Information Technology Institute )</div>
                    </div>
                </div>
                <div class="text-start card-body">
                    <div class="mt-1"><span class="text-secondary">Subjects :</span></div>
                    <ul>
                        
                        <li>Programming Fundamentals.</li>
                        
                        <li>Intro to Web Development + hands on experience.</li>
                        
                        <li>Advanced topics and tips for Web Development optimizations</li>
                        
                        <li>Graduation Project + project for every sub track.</li>
                        
                    </ul>
                </div>
            </div>
            
            <div class="my-3 card">
                <div class="card-header">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6 my-1">
                            <h4>Bachelor&#x27;s In Accounting</h4>
                        </div>
                        <div class="col-md-6 my-1"><time class="fst-italic text-secondary">2012 - 2016</time></div>
                        <div class="col-10 col-md-8 rounded-pill bg-secondary-subtle fw-bold my-1">Faculty Of Commerce Ain Shams University</div>
                    </div>
                </div>
                <div class="text-start card-body">
                    <div class="mt-1"><span class="text-secondary">Subjects :</span></div>
                    <ul>
                        
                        <li>Accounting &amp; Finance.</li>
                        
                        <li>Business &amp; Management.</li>
                        
                        <li>Economics.</li>
                        
                    </ul>
                </div>
            </div>
            
            
            <div style="border: 1px solid black;"></div>
            
            
            <h3 class="my-3 fw-bold">Certificates</h3>
            
            <div class="my-3 card">
                <div class="card-header">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6 my-1">
                            <h4>React Development Cross-Skilling Nanodegree Program</h4>
                        </div>
                        <div class="col-md-6 my-1"><time class="fst-italic text-secondary">9/2022 - 11/2022</time></div>
                        <div class="col-10 col-md-8 rounded-pill bg-secondary-subtle fw-bold my-1">Udacity</div>
                    </div>
                </div>
                <div class="text-start card-body">
                    <div class="mt-1"><span class="text-secondary">Subjects :</span></div>
                    <ul>
                        
                        <li>React Fundamentals.</li>
                        
                        <li>Advanced tips and tricks.</li>
                        
                    </ul>
                </div>
            </div>
            
            <div class="my-3 card">
                <div class="card-header">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6 my-1">
                            <h4>Dart &amp; Flutter</h4>
                        </div>
                        <div class="col-md-6 my-1"><time class="fst-italic text-secondary">2020 - 2020</time></div>
                        <div class="col-10 col-md-8 rounded-pill bg-secondary-subtle fw-bold my-1">IT Share</div>
                    </div>
                </div>
                <div class="text-start card-body">
                    <div class="mt-1"><span class="text-secondary">Subjects :</span></div>
                    <ul>
                        
                        <li>Dart &amp; Flutter Fundamentals.</li>
                        
                        <li>4 Hands on projects.</li>
                        
                    </ul>
                </div>
            </div>
            
            <div class="my-3 card">
                <div class="card-header">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-md-6 my-1">
                            <h4>Professional Financial Accountant</h4>
                        </div>
                        <div class="col-md-6 my-1"><time class="fst-italic text-secondary">2018 - 2018</time></div>
                        <div class="col-10 col-md-8 rounded-pill bg-secondary-subtle fw-bold my-1">Cairo University</div>
                    </div>
                </div>
                <div class="text-start card-body">
                    <div class="mt-1"><span class="text-secondary">Subjects :</span></div>
                    <ul>
                        
                        <li>Advanced Accounting.</li>
                        
                    </ul>
                </div>
            </div>
            
            
            
            
        </div>

        <div style="border: 1px solid black;"></div>

        <div id="contact" class="text-center">
            
            <h3 class="my-3 fw-bold">Contact Info</h3>
            <div class="row row-cols-1 row-cols-md-2 align-items-center justify-content-center g-3">
                
                <div class="rounded bg-white shadow-sm p-3">
                    <a  href="tel:+201015434803" 
                        class="link-underline link-underline-opacity-0">
                        <i class="fa-solid fa-phone fa-2xl me-2" style="color: #1ae03e;"></i>
                        <span class="fw-medium text-break">+201015434803</span>
                    </a>
                </div>
                
                <div class="rounded bg-white shadow-sm p-3">
                    <a  href="mailto:hosamhamdy258@gmail.com" 
                        class="link-underline link-underline-opacity-0">
                        <i class="fa-solid fa-envelope fa-2xl me-2" style="color: #ffbd07;"></i>
                        <span class="fw-medium text-break">hosamhamdy258@gmail.com</span>
                    </a>
                </div>
                
                <div class="rounded bg-white shadow-sm p-3">
                    <a  href="https://github.com/hosamhamdy258" 
                        class="link-underline link-underline-opacity-0">
                        <i class="fa-brands fa-github fa-2xl me-2" style="color: #000000;;"></i>
                        <span class="fw-medium text-break">https://github.com/hosamhamdy258</span>
                    </a>
                </div>
                
                <div class="rounded bg-white shadow-sm p-3">
                    <a  href="https://www.linkedin.com/in/hossamhamdy94/" 
                        class="link-underline link-underline-opacity-0">
                        <i class="fa-brands fa-linkedin fa-2xl me-2" style="color: #0a66c2;"></i>
                        <span class="fw-medium text-break">https://www.linkedin.com/in/hossamhamdy94/</span>
                    </a>
                </div>
                
                <div class="rounded bg-white shadow-sm p-3">
                    <a  href="https://dev-hosamhamdy.github.io" 
                        class="link-underline link-underline-opacity-0">
                        <i class="fa-solid fa-globe fa-2xl me-2" style="color: #63E6BE;"></i>
                        <span class="fw-medium text-break">https://dev-hosamhamdy.github.io</span>
                    </a>
                </div>
                
            </div>
            
        </div>


    </div>

    <script src="./assets/bootstrap/bootstrap.min.js"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script>
</body>

</html>